<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--这是 view-->
<div id="app">
    <h1 v-if="yes">yes!</h1>
    <h1 v-if="no">yes!</h1>
    <h1 v-if="age>=25">{{age}}</h1>
    <h1 v-if="name.indexOf('jack')>=0">hi : {{name}}</h1>
</div>

</body>
<script src="../js/vue.js"></script>
<script>

//    //    创建model
//    var exampleData={
//        message:"hello world "
//    }

    //    创建vue实例或者viewmodel 链接view 和model
    new Vue({
        el:"#app",
        data:{
            yes:true,
            no:false,
            age:28,
            name:"keepjack"
        }
    })
</script>
</html>